body{
	background-image:url(ir.jpg);
	background-size:25%;
	background-attachment:fixed;
	
}
h1,p,h2{
	color:black;
	text-size:150%;
	text-align:center;
	background:white;}
img{
	
	display:inline-block;}

h4{
	color:black;
	text-size:150%;
	text-align:left;
	background:yellow;}