body{
	background-image:url(ir.jpg);
	background-image:url(ms.jpg);
	background-size:25%;
	background-attachment:fixed;
	
}
h1,p,h3{
	color:black;
	text-size:150%;
	text-align:center;
	background:white;}
img{
	display:inline-block;
	background:yellow;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
	
}
